$primary-border-color: rgb(193, 39, 45);
$primary-color: #C1272D;
$input-bg-color: #141115;
$input-border-color: #262626;
$placeholder-color: #9ca3af;
$icon-hover-scale: 1.1;

$news-ticker-bg-color: #141115;
$news-ticker-text-color: #9c2121;
$news-ticker-font-family: "Orbitron", sans-serif;
$news-ticker-font-size: 30px;
$ticker-animation-speed: 20s;

$primary-font-family: "Orbitron", sans-serif;
$channel-font-size: 4.5vw;
$channel-text-color: rgb(255, 255, 255);
$video-bg-color: transparent;
$video-full-size: 100%;
