:root {
  --primary-font: 'Inter', sans-serif;
}

$primary-font-family: var(--primary-font);
$news-ticker-font-family: var(--primary-font);

$primary-border-color: rgb(193, 39, 45);
$primary-color-red: #C1272D;
$primary-color-red-hover: #A02025;
$primary-color-yellow: #EAA612;
$primary-color-yellow-hover: #C98D10;
$input-bg-color: #141115;
$input-border-color: #262626;
$placeholder-color: #9ca3af;
$icon-hover-scale: 1.1;

$news-ticker-bg-color: #141115;
$news-ticker-text-color: #9c2121;
$news-ticker-secondary-color: #eaa612;
$news-ticker-font-size: 30px;
$ticker-animation-speed: 20s;

$channel-font-size: 4.5vw;
$channel-text-color: rgb(255, 255, 255);
$video-bg-color: transparent;
$video-full-size: 100%;
