@use "../../styles/_variables.scss" as *;

.chatbox-container {
  position: fixed;
  top: 50px; 
  right: 0; // ✅ Placed on the right instead of left
  height: calc(100vh - 100px);
  background-color: $input-bg-color;
  transition: width 0.3s ease-in-out;
  z-index: 10000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); // ✅ Shadow to separate it from video
  min-width: 30px;

  &.open {
    width: 250px;
    overflow-y: auto; // Allow scrolling when open
  }

  &:not(.open) {
    width: 40px;
    overflow: hidden; // Hide scroll bar when closed
  }
}
.toggle-button-right {
  position: absolute;
  top: 10px;
  background-color: transparent;
  right: calc(100% - 25px);
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 10000;

  img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.chatbox-content {
  padding: 1rem;
  background-color: $input-bg-color;
  color: white;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
  &.open {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateX(0);
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
  }

  .messages {
    height: 860px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
  }
}

