@use "../../styles/_variables.scss" as *;

.video-container-dboriginals {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 50px;
  height: calc(100vh - 50px - 38px);
  overflow: hidden;
  position: relative;
  background-color: $background-color-primary;
  max-width: 100%;
  max-height: 100%;
}

.tv-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.myvideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.db-originals-next-button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;
  cursor: pointer;
}

.channelnumber {
  font-family: $primary-font-family;
  font-size: 80px;
  color: $channel-text-color;
  position: absolute;
  top: 1px;
  left: 36px;
  z-index: 3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.mute-icon-overlay {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 140px;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  background: none;
}
