@use "../../styles/_variables.scss" as *;

.video-container-dboriginals {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: $video-bg-color;
  max-width: 100%;
  max-height: 100%;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.tv-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;

  &.expanded {
    margin-left: 250px; // Sidebar open
  }
  .myvideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

}

.db-originals-next-button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;
  cursor: pointer;
}

.channelnumber {
  font-family: $primary-font-family;
  font-size: $channel-font-size;
  color: $channel-text-color;
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

