@use "../../styles/_variables.scss" as *;

.news-ticker {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $background-color-secondary;
  color: $secondary-color;
  font-family: $primary-font-family;
  font-size: 29.1px;
  overflow: hidden;
  z-index: 4;
  padding: 3px 0;
}

.ticker {
  display: inline-block;
  white-space: nowrap;
  animation: scroll linear infinite;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-25%); }
}
