@use "../../styles/_variables.scss" as *;

.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(1, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001; 

  .auth-card {
    background: #1a1a1a;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 350px;
    position: relative;
  }
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $background-color-primary;
}

.auth-card {
  position: relative;
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }

  button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: $primary-color;
    color: white;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }

  p {
    margin-top: 1rem;
    color: #ddd;
  }

  span {
    color: $primary-color;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent !important;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: color 0.2s ease, transform 0.2s ease;
  line-height: 1;

  &:hover {
    color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
  }
}
